<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>美多商城-商品詳情</title>
    <link rel="stylesheet" href="../css/reset.css"> <!-- 清除預設樣式 -->
    <link rel="stylesheet" href="../css/main.css">  <!-- 主樣式表 -->
    
    <script src="../js/host.js"></script>               <!-- 主機設定檔 -->
    <script src="../js/axios-0.18.0.min.js"></script>   <!-- 用來發送 HTTP 請求的 axios 函式庫 -->
    <script src="../js/vue-2.5.16.js"></script>         <!-- Vue.js 前端框架 -->
</head>
<body>
    <div id="app" v-cloak>

     <!-- ✅ Toast 訊息顯示區（加入購物車後出現） -->
    <div v-if="toastVisible" class="toast-message">[[ toastMessage ]]</div>

	<div class="header_con">
		<div class="header">
			<div class="welcome fl">歡迎來到美多商城！</div>
			<div class="fr">
				<div v-if="username" class="login_btn fl">
					歡迎您：<em>[[ username ]]</em>
					<span>|</span>
					<a @click="logout">登出</a>
				</div>
				<div v-else class="login_btn fl">
					<a href="/login.html">登入</a>
					<span>|</span>
					<a href="/register.html">註冊</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="/user_center_info.html">用戶中心</a>
					<span>|</span>
					<a href="/cart.html">我的購物車</a>
					<span>|</span>
					<a href="/user_center_order.html">我的訂單</a>
				</div>
            </div>
        </div>
    </div>


    <!-- 搜尋欄與購物車區域 -->
    <div class="search_bar clearfix">
      <!-- Logo 區塊 -->
        <a href="../index.html" class="logo fl"><img src="../images/logo.png"></a>

      <!-- 搜尋框 -->
        <div id= "search-bar" class="search_wrap fl">
            <form @submit.prevent="on_search" class="search_con">
                <input
                    type="text"
                    class="input_text fl"
                    v-model="query"
                    placeholder="搜尋商品"
                    @input="on_input"
                    @keydown.down.prevent="move_down"
                    @keydown.up.prevent="move_up"
                    @keydown.enter.prevent="select_item"
                    @focus="show_suggestions = true"
                >
                <input type="submit" class="input_btn fr" value="搜尋">
            </form>

            <ul class="search_suggest fl" v-show="show_suggestions">
                <li v-for="(item, index) in suggestions"
                    :class="{active: index === highlight_index}"
                    @click="select_suggestion(item)"
                    @mouseover="highlight_index = index"
                >
                    [[ truncate(item) ]]
                </li>
            </ul>
        </div>

        <!-- 購物車顯示 -->
        <div @mouseenter="get_cart()" class="guest_cart fr">
			<a href="/cart.html" class="cart_name fl">我的購物車</a>
			<div class="goods_count fl" id="show_count">[[cart_total_count]]</div>

			<ul class="cart_goods_show">
				<li v-for="sku in cart">
					<a :href="`${goodsBaseUrl}${sku.id}.html`">
						<img :src="sku.default_image_url" alt="商品圖片">
					</a>
					<h4>
						<a :href="`${goodsBaseUrl}${sku.id}.html`">
						[[sku.name]]
						</a>
					</h4>
					<div>[[sku.count]]</div>
				</li>
			</ul>
		</div>
    </div>
        <div class="navbar_con">
                <div class="navbar">
                    <div class="sub_menu_con fl">
                        <h1 class="fl">商品分類</h1>
                        <ul class="sub_menu">
                            {% for group in categories.values %}
                            <li>
                                <div class="level1">
                                    {% for channel in group.channels %}
                                    <a href="{{ channel.url }}">{{ channel.name }}</a>
                                    {% endfor %}
                                </div>
                                <div class="level2">
                                    {% for cat2 in group.sub_cats %}
                                    <div class="list_group">
                                        <div class="group_name fl">{{cat2.name}} &gt;</div>
                                        <div class="group_detail fl">
                                            {% for cat3 in cat2.sub_cats %}
                                            <a href="../list.html?cat={{cat3.id}}">{{cat3.name}}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <ul class="navlist fl">
                        <li><a href="">首頁</a></li>
                        <li class="interval">|</li>
                        <li><a href="">真劃算</a></li>
                        <li class="interval">|</li>
                        <li><a href="">抽獎</a></li>
                    </ul>
                </div>
            </div>

    <div class="breadcrumb">
        <a href="{{ goods.channel.url }}">{{ goods.category1.name }}</a>
        <span>></span>
        <span>{{ goods.category2.name }}</span>
        <span>></span>
        <a href="../list.html?cat={{ goods.category3.id }}">{{goods.category3.name }}</a>
    </div>

    <div class="goods_detail_con clearfix">
        <div class="goods_detail_pic fl"><img src="{{ sku.default_image_url }}"></div>
        <div class="goods_detail_list fr">
            <h3>{{ sku.name }}</h3>
            <p>{{ sku.caption }}</p>
            <div class="prize_bar">
                <span class="show_pirze">¥<em>{{ sku.price }}</em></span><span> 市場價￥{{sku.market_price}}</span>
                <a href="javascript:;" class="goods_judge">{{ sku.comments }}人評價</a>
            </div>
            <div class="goods_num clearfix">
                <div class="num_name fl">數 量：</div>
                <div class="num_add fl">
                    <input v-model="sku_count" type="text" class="num_show fl">
                    <a @click="sku_count++" class="add fr">+</a>
                    <a @click="on_minus()" class="minus fr">-</a>
                </div>
            </div>
            {% for spec in specs %}
            <div class="type_select">
                <label>{{ spec.name }}:</label>
                {% for option in spec.options %}
                {% if option.sku_id == sku.id %}
                <a href="javascript:;" class="select">{{ option.value }}</a>
                {% elif option.sku_id %}
                <a href="./{{option.sku_id}}.html">{{ option.value }}</a>
                {% else %}
                <a href="javascript:;">{{ option.value }}</a>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
            <div class="total">總價：<em>[[sku_amount]]元</em></div>
            <div class="operate_btn">
                <a @click="add_cart" class="add_cart" id="add_cart">加入購物車</a>
            </div>
        </div>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>熱銷排行</h3>
				<ul>
					<li v-for="hot in hots" :key="hot.id">
					<a :href="`${goodsBaseUrl}${hot.id}.html`">
						<img :src="hot.default_image_url" :alt="hot.name" />
					</a>
					<div class="hot-info">
						<h4>
							<a :href="`${goodsBaseUrl}${hot.id}.html`">
								[[ hot.name ]]
							</a>
						</h4>
						<div class="prize">$[[ hot.price|floatformat:0 ]]</div>
					</div>
				</li>
				</ul>
			</div>
		</div>

        <div class="r_wrap fr clearfix">
            <ul class="detail_tab clearfix">
                <li @click="on_tab_content('detail')" :class="tab_content.detail?'active':''">商品詳情</li>
                <li @click="on_tab_content('pack')" :class="tab_content.pack?'active':''">規格與包裝</li>
                <li @click="on_tab_content('comment')" :class="tab_content.comment?'active':''">商品評價([[comments.length]])</li>
                <li @click="on_tab_content('service')" :class="tab_content.service?'active':''">售後服務</li>
            </ul>
            <div @click="on_tab_content('detail')" class="tab_content" :class="tab_content.detail?'current':''">
                <dl>
                    <dt>商品詳情：</dt>
                    <dd>{{ goods.desc_detail|safe }}</dd>
                </dl>
            </div>
            <div @click="on_tab_content('pack')" class="tab_content" :class="tab_content.pack?'current':''">
                <dl>
                    <dt>規格與包裝：</dt>
                    <dd>{{ goods.desc_pack|safe }}</dd>
                </dl>
            </div>
            <div @click="on_tab_content('comment')" class="tab_content" :class="tab_content.comment?'current':''">
                <ul class="judge_list_con">
                    <li class="judge_list fl" v-for="comment in comments">
                        <div class="user_info fl">
                            <b>[[comment.username]]</b>
                        </div>
                        <div class="judge_info fl">
                            <div :class="comment.score_class"></div>
                            <div class="judge_detail">[[comment.comment]]</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div @click="on_tab_content('service')" class="tab_content" :class="tab_content.service?'current':''">
                <dl>
                    <dt>售後服務：</dt>
                    <dd>{{ goods.desc_service|safe }}</dd>
                </dl>
            </div>



        </div>
    </div>

    <div class="footer">
        <div class="foot_link">
            <a href="#">關於我們</a>
            <span>|</span>
            <a href="#">聯系我們</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情鏈接</a>
        </div>
        <p>CopyRight © 美多商業股份有限公司 All Rights Reserved</p>
        <p>電話：09-****888　</p>
    </div>
    </div>
    <script type="text/javascript">
        var price = {{sku.price}};
        var cat = {{ goods.category3.id }};
    </script>
    <script src="../js/detail.js"></script>

</body>
</html>