<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>美多商城-購物車</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/host.js"></script>
    <script src="js/axios-0.18.0.min.js"></script>
    <script src="js/axios-interceptor.js"></script> <!-- 自定義的 axios 攔截器 -->
    <script src="js/vue-2.5.16.js"></script>
</head>
<body>
    <div id="app">
    <div class="header_con">
        <div class="header">
            <div class="welcome fl">歡迎來到美多商城！</div>
            <div class="fr">
                <div v-if="username" class="login_btn fl">
                    歡迎您：<em>{{ username }}</em>
                    <span>|</span>
                    <a @click="logout">登出</a>
                </div>
                <div v-else class="login_btn fl">
                    <a href="login.html">登入</a>
                    <span>|</span>
                    <a href="register.html">註冊</a>
                </div>
                <div class="user_link fl">
                    <span>|</span>
                    <a href="user_center_info.html">用戶中心</a>
                    <span>|</span>
                    <a href="cart.html">我的購物車</a>
                    <span>|</span>
                    <a href="user_center_order.html">我的訂單</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 搜尋區 -->
    <div class="search_bar clearfix">
        <a href="index.html" class="logo fl"><img src="images/logo.png"></a>
        <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;購物車</div>
        <div class="search_wrap fl">
            <form @submit.prevent="on_search" class="search_con">
                <input
                    type="text"
                    class="input_text fl"
                    v-model="query"
                    placeholder="搜尋商品"
                    @input="on_input"
                    @keydown.down.prevent="move_down"
                    @keydown.up.prevent="move_up"
                    @keydown.enter.prevent="select_item"
                    @focus="show_suggestions = true"
                >
                <input type="submit" class="input_btn fr" value="搜尋">
            </form>

            <ul class="search_suggest fl" v-show="show_suggestions">
                <li v-for="(item, index) in suggestions"
                    :class="{active: index === highlight_index}"
                    @click="select_suggestion(item)"
                    @mouseover="highlight_index = index"
                >
                    {{ truncate(item) }}
                </li>
            </ul>
        </div>
    </div>

    <div class="total_count">全部商品<em>{{total_count}}</em>件</div>
    <ul class="cart_list_th clearfix">
        <li class="col01">商品名稱</li>
        <li class="col03">商品價格</li>
        <li class="col04">數量</li>
        <li class="col05">小計</li>
        <li class="col06">操作</li>
    </ul>
    <ul class="cart_list_td clearfix" v-for="(sku,index) in cart">
        <li class="col01"><input type="checkbox" name="" v-model="sku.selected" @change="update_selected(index)"></li>
        <li class="col02"><img :src="sku.default_image_url"></li>
        <li class="col03">{{ sku.name }}</li>
        <li class="col05">{{ sku.price }}元</li>
        <li class="col06">
            <div class="num_add">
                <a @click="on_minus(index)" class="minus fl">-</a>
                <input v-model="sku.count" @focus="origin_input=sku.count" @blur="on_input(index)" type="text" class="num_show fl">
                <a @click="on_add(index)" class="add fl">+</a>

            </div>
        </li>
        <li class="col07">{{sku.amount}}元</li>
        <li class="col08"><a @click="on_delete(index)">刪除</a></li>
    </ul>

    <ul class="settlements">
        <li class="col01"><input type="checkbox" name="" @change="on_selected_all" v-model="selected_all"></li>
        <li class="col02">全選</li>
        <li class="col03">合計（不含運費）：<span>¥</span><em>{{total_selected_amount}}</em><br>共計<b>{{total_selected_count}}</b>件商品</li>
        <li class="col04"><a href="place_order.html">前往結帳</a></li>
    </ul>

    <div class="footer">
        <div class="foot_link">
            <a href="#">關於我們</a>
            <span>|</span>
            <a href="#">聯絡我們</a>
            <span>|</span>
            <a href="#">招募人才</a>
            <span>|</span>
            <a href="#">合作連結</a>
        </div>
        <p>版權所有 © 2016 北京美多商業股份有限公司 All Rights Reserved</p>
        <p>電話：010-****888　京ICP備*******8號</p>
    </div>
    </div>
    <script src="js/cart.js"></script>
</body>
</html>
