<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>美多商城-登入</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/host.js"></script>
    <script type="text/javascript" src="js/vue-2.5.16.js"></script>
    <script type="text/javascript" src="js/axios-0.18.0.min.js"></script>
</head>
<body>
    <div class="login_top clearfix">
        <a href="index.html" class="login_logo"><img src="images/logo02.png"></a>
    </div>
    <div class="login_form_bg" id='app'>
        <div class="login_form_wrap clearfix">
            <!-- <div class="login_banner fl"></div> -->
            <div class="slogan fl">商品美 · 種類多 · 歡迎光臨</div>
            <div class="login_form fr">
                <div class="login_title clearfix">
                    <a href="javascript:;" class="cur">帳戶登入</a>
                </div>
                <div class="form_con">
                    <div class="form_input cur">
                        <form id="login-form" @submit.prevent="on_submit">
                            <input type="text" v-model="username" @blur="check_username" name="" class="name_input" placeholder="請輸入帳號或手機號碼">
                            <div v-show="error_username" class="user_error" v-cloak>請填寫帳號或手機號碼</div>
                            <input type="password" v-model="password" @blur="check_pwd" name="pwd" class="pass_input" placeholder="請輸入密碼">
                            <div v-show="error_pwd" class="pwd_error" v-cloak>{{ error_pwd_message }}</div>
                            <div class="more_input clearfix">
                                <input type="checkbox" v-model="remember">
                                <label>記住登入</label>
                                <a href="/find_password.html">忘記密碼</a>
                            </div>
                            <input type="submit" name="" value="登 入" class="input_submit">
                        </form>
                    </div>
                </div>
                    <div class="third_party">
                        <!-- Google One Tap 登入按鈕 -->
                        <div id="g_id_onload"
                             data-client_id="330519594030-hcjartsmuu90bpur0ied1t0i1qq81mrv.apps.googleusercontent.com"
                             data-callback="handleCredentialResponse"
                             data-auto_prompt="true">
                        </div>

                        <div class="g_id_signin" data-type="standard"></div> <!-- 可選的 Google 登入按鈕 -->

                        <!-- Facebook 登入按鈕 -->
                        <!-- <a @click="fb_login" class="login_btn fb_login">
                            <img src="https://cdn-icons-png.flaticon.com/512/124/124010.png" alt="FB logo" class="icon">
                            FB
                        </a> -->
                        
                        <a href="/register.html" class="register_btn">立即註冊</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer no-mp">
        <div class="foot_link">
            <a href="#">關於我們</a>
            <span>|</span>
            <a href="#">聯繫我們</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友鏈接</a>
        </div>
        <p>CopyRight © 美多商業股份有限公司 All Rights Reserved</p>
        <p>電話：09-****888　</p>
    </div>

    <!-- 載入 Google 身分驗證 SDK -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <!-- Google 登入後 callback 函式 -->
    <script>
        function handleCredentialResponse(response) {
            console.log("Google 回傳 Token:", response.credential);
            // 你可以把這個 Token 傳給後端驗證用
        }
    </script>

    <script type="text/javascript" src="js/login.js"></script>
</body>
</html>
