<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>美多商城-提交訂單</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/host.js"></script>
    <script src="js/axios-0.18.0.min.js"></script>
    <script src="js/axios-interceptor.js"></script> <!-- 自定義的 axios 攔截器 -->
    <script src="js/vue-2.5.16.js"></script>

    <script>
        var user_id = sessionStorage.user_id || localStorage.user_id;
        var access = sessionStorage.access || localStorage.access;
        if (!(user_id && access)) {
            location.href = './login.html?next=./cart.html';
        }
    </script>
</head>

<body>
    <div id="app">
        <div class="header_con">
            <div class="header">
                <div class="welcome fl">歡迎來到美多商城!</div>
                <div class="fr">
                    <div class="login_btn fl">
                        歡迎您：<em>{{ username }}</em>
                        <span>|</span>
                        <a @click="logout">退出</a>
                    </div>
                    <div class="user_link fl">
                        <span>|</span>
                        <a href="user_center_info.html">用户中心</a>
                        <span>|</span>
                        <a href="cart.html">我的購物車</a>
                        <span>|</span>
                        <a href="user_center_order.html">我的訂單</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="search_bar clearfix">
            <a href="index.html" class="logo fl"><img src="images/logo.png"></a>
            <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;提交訂單</div>
            <form method="get" action="/search.html" class="search_con fr mt40">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" value="搜索">
            </form>
        </div>

        <h3 class="common_title">確認收貨地址</h3>
        <div class="common_list_con clearfix">
            <dl>
                <dt>寄送到：</dt>
                <dd v-for="address in addresses" :class="[(nowsite == address.id) ? 'current' : '']" @click="nowsite = address.id">
                    <input type="radio" name="get_site" :value="address.id" v-model="nowsite">
                    {{ address.full_address }}&emsp;收件人: {{ address.receiver }}&emsp;{{ address.mobile }}
                </dd>
            </dl>
            <a href="user_center_site.html" class="edit_site">編輯地址</a>
        </div>

        <h3 class="common_title">支付方式</h3>
        <div class="common_list_con clearfix">
            <div class="pay_style_con clearfix">
                <input type="radio" name="pay_style" value="1" v-model="pay_method">
                <label class="cash">貨到付款</label>
                <input type="radio" name="pay_style" value="2" v-model="pay_method">
                <label class="zhifubao"></label>
            </div>
        </div>

        <h3 class="common_title">商品列表</h3>
        <div class="common_list_con clearfix">
            <ul class="goods_list_th clearfix">
                <li class="col01">商品名稱</li>
                <li class="col03">商品價格</li>
                <li class="col04">數量</li>
                <li class="col05">小計</li>
            </ul>
            <ul class="goods_list_td clearfix" v-for="(sku, index) in skus" :key="sku.id || index">
                <li class="col01">{{ index + 1 }}</li>
                <li class="col02"><img :src="sku.default_image_url" alt="商品圖片"></li>
                <li class="col03">{{ sku.name }}</li>
                <li class="col05">{{ sku.price }}元</li>
                <li class="col06">{{ sku.count }}</li>
                <li class="col07">{{ sku.amount }}元</li>
            </ul>
        </div>

        <h3 class="common_title">總金額結算</h3>
        <div class="common_list_con clearfix">
            <div class="settle_con">
                <div class="total_goods_count">共<em>{{ total_count }}</em>件商品，總金額<b>{{ total_amount }}元</b></div>
                <div class="transit">運費：<b>{{ freight }}元</b></div>
                <div class="total_pay">實付款：<b>{{ payment_amount }}元</b></div>
            </div>
        </div>

        <div class="order_submit clearfix">
            <a @click="on_order_submit" id="order_btn">提交訂單</a>
        </div>

        <div class="footer">
            <div class="foot_link">
                <a href="#">關於我們</a>
                <span>|</span>
                <a href="#">聯絡我們</a>
                <span>|</span>
                <a href="#">招募人才</a>
                <span>|</span>
                <a href="#">友情連結</a>
            </div>
            <p>CopyRight © 美多商業股份有限公司 All Rights Reserved</p>
            <p>電話：09-****888　</p>
        </div>
    </div>

    <div class="popup_con">
        <div class="popup">
            <p>訂單提交成功！</p>
        </div>
        <div class="mask"></div>
    </div>

    <script src="js/place_order.js"></script>
</body>
</html>
