<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8" />
    <title>美多商城-個人中心</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/main.css" />
    <script src="js/host.js"></script>
    <script src="js/axios-0.18.0.min.js"></script>
    <script src="js/axios-interceptor.js"></script>
    <script src="js/vue-2.5.16.js"></script>

    <!-- <script>
        const user_id = sessionStorage.getItem("user_id") || localStorage.getItem("user_id");
        const token = sessionStorage.getItem('access') || localStorage.getItem('access');
        if (!(user_id && token)) {
            location.href = 'login.html?next=/user_center_order.html';
        }
    </script> -->
</head>

<body>
  <div id="app" v-cloak>
    <!-- Header 區塊 -->
    <div class="header_con">
      <div class="header">
        <div class="welcome fl">歡迎來到美多商城！</div>
        <div class="fr">
          <div class="login_btn fl">
            歡迎您：<em>{{ username }}</em>
            <span>|</span>
            <a @click="logout">登出</a>
          </div>
          <div class="user_link fl">
            <span>|</span>
            <a href="/user_center_info.html">個人中心</a>
            <span>|</span>
            <a href="/cart.html">我的購物車</a>
            <span>|</span>
            <a href="/user_center_order.html">我的訂單</a>
          </div>
        </div>
      </div>
    </div>

    <!-- 搜尋區 -->
        <div class="search_bar clearfix">
            <a href="index.html" class="logo fl"><img src="images/logo.png" alt="美多商城 Logo"></a>
            <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;我的訂單</div>
                <div class="search_wrap fl">
                    <form @submit.prevent="on_search" class="search_con">
                        <input
                            type="text"
                            class="input_text fl"
                            v-model="query"
                            placeholder="搜尋商品"
                            @input="on_input"
                            @keydown.down.prevent="move_down"
                            @keydown.up.prevent="move_up"
                            @keydown.enter.prevent="select_item"
                            @focus="show_suggestions = true"
                        >
                        <input type="submit" class="input_btn fr" value="搜尋">
                    </form>

                    <ul class="search_suggest fl" v-show="show_suggestions">
                        <li v-for="(item, index) in suggestions"
                            :class="{active: index === highlight_index}"
                            @click="select_suggestion(item)"
                            @mouseover="highlight_index = index"
                        >
                            {{ truncate(item) }}
                        </li>
                    </ul>
                </div>
        </div>


    <!-- 主內容 -->
    <div class="main_con clearfix">
      <!-- 側邊欄 -->
      <div class="left_menu_con clearfix">
        <h3>用戶中心</h3>
        <ul>
          <li><a href="user_center_info.html">· 個人資訊</a></li>
          <li><a href="user_center_order.html" class="active">· 全部訂單</a></li>
          <li><a href="user_center_site.html">· 收貨地址</a></li>
          <li><a href="user_center_pass.html">· 修改密碼</a></li>
        </ul>
      </div>

      <!-- 訂單內容 -->
      <div class="right_content clearfix">
        <h3 class="common_title2">全部訂單</h3>

        <div v-for="order in orders" :key="order.order_id" class="order-block">
          <ul class="order_list_th w978 clearfix">
            <li class="col01">{{ order.create_time }}</li>
            <li class="col02">訂單號：{{ order.order_id }}</li>
            <li class="col03 freight-li">含運費: {{ formatIntPrice(order.freight) }} 元</li>
          </ul>

          <table class="order_list_table w980">
            <tbody>
              <tr v-for="(sku, index) in order.skus" :key="sku.id">
                <td width="55%">
                  <ul class="order_goods_list clearfix">
                    <li class="col01">
                      <a :href="`${goodsBaseUrl}${sku.id}.html`" target="_blank" rel="noopener noreferrer">
                        <img :src="sku.default_image_url" alt="商品圖片" />
                      </a>
                    </li>
                    <li class="col02">
                      <a :href="`${goodsBaseUrl}${sku.id}.html`" target="_blank" rel="noopener noreferrer">
                        {{ truncateName(sku.name, 20) }}
                      </a>
                    </li>
                    <li class="col_price">
                      <span class="price">{{ formatIntPrice(sku.price) }}</span>
                      <span class="unit">元&nbsp;</span>
                    </li>
                    <li class="">&nbsp;&nbsp;</li>
                    <li class="col03">x {{ sku.count }}</li>
                    <li class="col04">{{ (sku.price * sku.count).toFixed(0) }}&nbsp元</li>
                  </ul>
                </td>

                <td v-if="index === 0" :rowspan="order.skus.length" width="15%">
                  {{ formatIntPrice(order.total_amount) }}&nbsp元
                </td>
                <td v-if="index === 0" :rowspan="order.skus.length" width="15%">
                  {{ order.pay_method }}
                </td>
                <td v-if="index === 0" :rowspan="order.skus.length" width="15%">
                  <button
                    v-if="order.status === '待付款'"
                    class="oper_btn"
                    :disabled="loadingOrderId === order.order_id"
                    @click="handlePay(order)"
                  >
                    {{ loadingOrderId === order.order_id ? '付款中...' : '去付款' }}
                  </button>
                  <span v-else>{{ order.status }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- 分頁按鈕 -->
        <div class="pagenation">
          <a href="#" v-if="hasPrevPageGroup" @click.prevent="changePageGroup(-1)">«</a>
          <a href="#" v-if="currentPage > 1" @click.prevent="changePage(currentPage - 1)">上一頁</a>
          <a
            href="#"
            v-for="page in pageGroupPages"
            :key="page"
            @click.prevent="changePage(page)"
            :class="{ active: currentPage === page }"
          >
            {{ page }}
          </a>
          <a href="#" v-if="currentPage < totalPages" @click.prevent="changePage(currentPage + 1)">下一頁</a>
          <a href="#" v-if="hasNextPageGroup" @click.prevent="changePageGroup(1)">»</a>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer">
      <div class="foot_link">
        <a href="#">關於我們</a>
        <span>|</span>
        <a href="#">聯絡我們</a>
        <span>|</span>
        <a href="#">招募人才</a>
        <span>|</span>
        <a href="#">友情連結</a>
      </div>
      <p>CopyRight © 2016 北京美多商業股份有限公司 All Rights Reserved</p>
      <p>電話：010-****888　京ICP備*******號</p>
    </div>
  </div>

  <!-- Vue 控制邏輯 -->
  <script src="js/user_center_order.js"></script>
</body>
</html>
