amqp==5.3.1
asgiref==3.8.1
async-timeout==5.0.1
billiard==4.2.1
boto3==1.38.23
botocore==1.38.23
cachetools==5.5.2
celery==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
Django==5.2.1
django-ckeditor==6.7.2
django-cors-headers==4.7.0
django-crontab==0.7.1
django-elasticsearch-dsl==7.3
django-elasticsearch-dsl-drf==0.21
django-filter==25.1
django-js-asset==3.1.2
django-nine==0.2.7
django-redis==5.4.0
django-storages==1.14.6
django-stubs==5.2.0
django-stubs-ext==5.2.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-extensions==0.8.0
elasticsearch==7.17.0
elasticsearch-dsl==7.4.0
google-auth==2.40.2
idna==3.10
jmespath==1.0.1
kombu==5.5.3
mysqlclient==2.1.1
packaging==25.0
pillow==11.2.1
prompt_toolkit==3.0.51
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyJWT==2.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2022.1
redis==6.1.0
requests==2.32.3
rsa==4.9.1
s3transfer==0.13.0
six==1.17.0
sqlparse==0.5.3
tomli==2.2.1
types-PyYAML==6.0.12.20250516
typing_extensions==4.13.2
tzdata==2025.2
urllib3==1.26.20
vine==5.1.0
wcwidth==0.2.13
uwsgi
